body {
    font-family: 'Poppins', sans-serif;
}

.section-banner {
    color: rgb(238, 235, 235);
    font-weight: lighter;
    text-align: center;
    background-image: url(images/baby.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: -350px;
}

.section-banner h1 {
    font-size: 80px;
}

.section-banner p {
    font-size: 20px;
}

.banner-div1 {


    padding-bottom: 150px;
    padding-top: 100px;
}

.button-donate-now {
    padding: 20px;
    border-radius: 15px;
    background-color: orangered;
    color: white;
    margin-top: 40px;
}

.anchor-donate-now {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;

}

.donation-amount {
    display: flex;
    margin: 100px 200px;
    padding-left: 150px;
    padding-right: ;
}

.donation-amount h2 {
    width: 12%;
    text-align: center;
    padding-right: 35px;
    font-size: 50px;
    font-weight: bolder;
    color: gray;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(247, 242, 242);

}

#donation-amount-h2 {
    color: salmon;
    background-color: pink;
    border: 1px solid salmon;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.section-donate-today-div1 {
    text-align: center;
    margin-top: 100px;
}

.section-donate-today-div1 h1 {
    font-size: 50px;
    font-weight: bold;
}

.section-donate-today-div1 p {
    color: gray;
    font-size: 20px;
}

#button-2 {
    margin-top: 20;
}

.donation-amount-2 {
    color: gray;

    text-align: center;
}

.donation-amount-2 input {
    text-align: center;
    font-size: 20px;
    font-weight: 600;

}

.donation-amount-2 hr {
    width: 400px;
    text-align: center;
    margin-top: 15px;
}

.section-icon {
    margin-top: 100px;
    margin-bottom: 100px;
}

.icon-div1 {
    text-align: center;

}




.icon-div1 h1 {
    font-size: 50px;
    font-weight: bold;
}

.icon-div1 p {
    font-size: 20px;
    color: gray;
}

.icon-div2 {
    display: flex;
    margin: 70px 180px;
}

.icon-div2 h1 {
    font-size: 30px;

}

.icon-div2 p {
    font-size: 20px;
    color: gray;
}

.icon-div2-child-div {
    padding: 40px 20px;
}

#food {
    background-color: rgb(219, 236, 230);
    margin-right: 20px;
}

#shelter {
    background-color: rgb(237, 216, 236);
    margin-right: 10px;
}

#education {
    background-color: rgb(247, 222, 191);
    margin-left: 10px;
}

.supportes {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.supportes-heading {
    font-size: 50px;
    font-weight: 900;

}

.supporters-logo-1 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.supporters-logo-1 img {
    padding-right: 40px;
}

.section-contribute {
    display: flex;
    margin: 150px 200px;
}

.section-contribute img {
    width: 50%;
    margin-left: 20px;
    border-radius: 15px;
}

.section-contribute-div1 {
    width: 40%;
    padding-right: 20px;
}

.section-contribute-div1 h1 {
    font-size: 50px;
    font-weight: 800;
}

.section-contribute-div1 p {
    color: gray;
    font-size: 20px;
}

.section-contribute-div1 button {
    padding: 20px 30px;
    background-color: orangered;
    border-radius: 10px;
}

.section-contribute-div1 button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.get-update {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.update-text {
    margin-top: 150px;
    margin-bottom: 50px;
}

.update-text h1 {
    font-size: 50px;
    font-weight: 800;
}

.update-text p {
    color: gray;
    font-size: 20px;
}

.update-form {
    margin-top: 150px;
    margin-bottom: 250px;
}

.update-form input {
    font-size: 25px;
}

#input-subscribe {
    color: white;
    background-color: orangered;
    padding: 5px 30px;
    font-size: 25px;
}

footer {
    text-align: center;
    height: 200px;
    background-color: black;
    color: white;
}

.footer-head {
    color: orangered;
    font-size: 30px;
    padding-top: 40px;
}